# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Logs
*.log

# Rider / VSCode (caso use)
.idea/
.vscode/

# Arquivos temporários
*.cache
*.tmp

# MAUI / Xamarin
*.apk
*.ap_ 
*.aab

# Mac / Linux lixo de sistema
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

# Configs locais
appsettings.Development.json